{% extends 'meetups/base/master.html' %}
{% load static %}

{% block title%}
    {{meetup.title}}
{% endblock %}




{% block main_heading%}
    <p>¡Se ha confirmado la asistencia al meetup!</p>
    {{meetup.title}}
{% endblock %}

{% block body%}
    <article>
        <img id="main-image" src="{{meetup.image.url }}" alt="{{meetup.title}}">
        
        <section id=".location">
            <h2>Meetup Location</h2>
            <address>This meetup takes place in <span>{{meetup.location.name}} </span>({{meetup.location.address}}) in {{meetup.date}}</address>
        </section>
        <section id="details">
            <h2>What's This Meetup About?</h2>
            <p>{{ meetup.description }}</p>
            <footer>
                <p>Need more details? <a href="mailto:{{meetup.organizer_email}}">Please contact the organizer (but don't spam us)</a></p>
            </footer>
        </section>
        <section>
            <a href="{% url 'all-meetups' %}" class = "btn"> Back to the main page</a>
        </section>
    </article>
{% endblock%}